@media screen and (max-width:770px) and (min-width:0px) {
    #Left{
        display: block;
    }
    #Right{
        display: block;
    }
}

@media screen and (max-width:770px) and (min-width:680px){
    #gamearea{
        height: 350px;
        width: 350px;
    }
    #food{
        height: 15px;
        width: 15px;
    }
    .style{
        height: 15px;
        width: 15px;
    }
    #down{
        bottom: 60px;
        left: 62px;
    }
    #up{
        bottom: 195px;
        left: 62px;
    }
    #right{
        right: 62px;
        bottom: 60px;
    }
    #left{
        right: 62px;
        bottom: 195px;
    }
}
@media screen and (max-width:680px) and (min-width:600px){
    #gamearea{
        height: 300px;
        width: 300px;
    }
    #food{
        height: 15px;
        width: 15px;
    }
    .style{
        height: 15px;
        width: 15px;
    }
    #down{
        bottom: 60px;
        left: 62px;
    }
    #up{
        bottom: 195px;
        left: 62px;
    }
    #right{
        right: 62px;
        bottom: 60px;
    }
    #left{
        right: 62px;
        bottom: 195px;
    }
}
@media screen and (max-width:600px) and (min-width:530px){
    #gamearea{
        height: 270px;
        width: 270px;
    }
    #food{
        height: 15px;
        width: 15px;
    }
    .style{
        height: 15px;
        width: 15px;
    }
    #down{
        bottom: 100px;
        left: 62px;
    }
    #up{
        bottom: 215px;
        left: 62px;
    }
    #right{
        right: 62px;
        bottom: 100px;
    }
    #left{
        right: 62px;
        bottom: 215px;
    }
    .button{
        height: 56px;
        width: 60px;
        padding-top: 0;
    }
}
@media screen and (max-width:530px) and (min-width:500px){
    #Title{
        font-size: 4rem;
    }
    #scores{
        font-size: 1.75rem;
    }
    #gamearea{
        height: 350px;
        width: 350px;
        margin-bottom: 115px;
    }
    #food{
        height: 15px;
        width: 15px;
    }
    .style{
        height: 15px;
        width: 15px;
    }

    #down{
        bottom: 40px;
        left: 170px;
    }
    #up{
        bottom: 40px;
        left: 62px;
    }
    #right{
        right: 62px;
        bottom: 40px;
    }
    #left{
        right: 170px;
        bottom: 40px;
    }
    .button{
        height: 56px;
        width: 60px;
        padding-top: 0;
    }
}
@media screen and (max-width:500px) and (min-width:450px){
    #Title{
        font-size: 4rem;
    }
    #scores{
        font-size: 1.75rem;
    }
    #gamearea{
        height: 250px;
        width: 250px;
        margin-bottom: 115px;
    }
    #food{
        height: 14px;
        width: 14px;
    }
    .style{
        height: 14px;
        width: 14px;
    }

    #down{
        bottom: 68px;
        left: 150px;
    }
    #up{
        bottom: 68px;
        left: 32px;
    }
    #right{
        right: 32px;
        bottom: 68px;
    }
    #left{
        right: 150px;
        bottom: 68px;
    }
    .button{
        height: 56px;
        width: 60px;
        padding-top: 0;
    }
}
@media screen and (max-width:450px) and (min-width:400px){
    #Title{
        font-size: 3.5rem;
    }
    #scores{
        font-size: 1.4rem;
    }
    #gamearea{
        height: 250px;
        width: 250px;
        margin-bottom: 115px;
    }
    #food{
        height: 13px;
        width: 13px;
    }
    .style{
        height: 13px;
        width: 13px;
    }

    #down{
        bottom: 68px;
        left: 130px;
    }
    #up{
        bottom: 68px;
        left: 32px;
    }
    #right{
        right: 32px;
        bottom: 68px;
    }
    #left{
        right: 130px;
        bottom: 68px;
    }
    .button{
        height: 56px;
        width: 60px;
        padding-top: 0;
    }
}
@media screen and (max-width:400px) and (min-width:350px){
    #Title{
        font-size: 3rem;
    }
    #scores{
        font-size: 1.1rem;
    }
    #gamearea{
        height: 250px;
        width: 250px;
        margin-bottom: 115px;
    }
    #food{
        height: 11px;
        width: 11px;
    }
    .style{
        height: 11px;
        width: 11px;
    }
    #arrowkeys{
        font-size: 0.75rem;
    }

    #down{
        bottom: 68px;
        left: 110px;
    }
    #up{
        bottom: 68px;
        left: 12px;
    }
    #right{
        right: 12px;
        bottom: 68px;
    }
    #left{
        right: 110px;
        bottom: 68px;
    }
    .button{
        height: 50px;
        width: 50px;
        padding-top: 10px;
    }
}
@media screen and (max-width:350px) and (min-width:290px){
    #Title{
        font-size: 2.75rem;
    }
    #scores{
        font-size: 1rem;
    }
    #gamearea{
        height: 250px;
        width: 250px;
        margin-bottom: 115px;
    }
    #food{
        height: 11px;
        width: 11px;
    }
    .style{
        height: 11px;
        width: 11px;
    }
    #arrowkeys{
        font-size: 0.75rem;
    }

    #down{
        bottom: 68px;
        left: 90px;
    }
    #up{
        bottom: 68px;
        left: 12px;
    }
    #right{
        right: 12px;
        bottom: 68px;
    }
    #left{
        right: 90px;
        bottom: 68px;
    }
    .button{
        height: 50px;
        width: 50px;
        padding-top: 10px;
    }
}